@import "tailwindcss";
/* todo Fontfamily style */
@font-face {
  font-family: "Vazir";
  src: local("vazir"), local("Vazir"), local("vazir-normal"), local("Vazir-normal"), url("../public/fonts/Vazir.eot") format("opentype"), url("../public/fonts/Vazir.eot?#iefix") format("embedded-opentype"), url("../public/fonts/Vazir.woff2") format("woff2"), url("../public/fonts/Vazir.woff") format("woff"), url("../public/fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Vazir-Bold";
  src: url("../public/fonts/Vazir-Bold.eot") format("opentype"), url("../public/fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"), url("../public/fonts/Vazir-Bold.woff2") format("woff2"), url("../public/fonts/Vazir-Bold.woff") format("woff"), url("../public/fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Vazir-Thin";
  src: url("../public/fonts/Vazir-Thin.eot") format("opentype"), url("../public/fonts/Vazir-Thin.eot?#iefix") format("embedded-opentype"), url("../public/fonts/Vazir-Thin.woff2") format("woff2"), url("../public/fonts/Vazir-Thin.woff") format("woff"), url("../public/fonts/Vazir-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Vazir-Light";
  src: url("../public/fonts/Vazir-Light.eot") format("opentype"), url("../public/fonts/Vazir-Light.eot?#iefix") format("embedded-opentype"), url("../public/fonts/Vazir-Light.woff2") format("woff2"), url("../public/fonts/Vazir-Light.woff") format("woff"), url("../public/fonts/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Vazir-Medium";
  src: url("../public/fonts/Vazir-Medium.eot") format("opentype");
  src: url("../public/fonts/Vazir-Medium.eot?#iefix") format("embedded-opentype"), url("../public/fonts/Vazir-Medium.woff2") format("woff2"), url("../public/fonts/Vazir-Medium.woff") format("woff"), url("../public/fonts/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Vazir-Black";
  src: url("../public/fonts/Vazir-Black.eot") format("opentype"), url("../public/fonts/Vazir-Black.eot?#iefix") format("embedded-opentype"), url("../public/fonts/Vazir-Black.woff2") format("woff2"), url("../public/fonts/Vazir-Black.woff") format("woff"), url("../public/fonts/Vazir-Black.ttf") format("truetype");
  font-weight: 900;
}

/* todo: YekanBakh Fonts */
@font-face {
  font-family: "YekanBakh";
  src: url("../public/fonts/YekanBakh-Regular.woff") format("woff");
}
@font-face {
  font-family: "YekanBakh Medium";
  src: url("../public/fonts/YekanBakh-Medium.woff") format("woff");
}
@font-face {
  font-family: "YekanBakh Bold";
  src: url("../public/fonts/YekanBakh-Bold.woff") format("woff");
}
@font-face {
  font-family: "YekanBakh Heavy";
  src: url("../public/fonts/YekanBakh-Heavy.woff") format("woff");
}

/* ------------ End Font --------------- */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* ---------------- */


body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "YekanBakh";
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 3.5rem;
  font-weight: bold;
}

h2{
  font-size: 2.5rem;
  
}
